!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title La mejor comida en Restaurant
    %link{rel:"stylesheet", href:"/offline/style.css"}
    %meta{name:"description", content:"Come rico y barato en el mejor restaurante de la ciudad"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %p#message Parece que no pudimos conectarnos a internet, no hay problema, aqui esta informacion que podria interesarte.
    .container
      %h1 Restaurante
      %p
        %strong Direccion
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      %p
        %strong Horario
      %p
        5pm - 11pm
      %p
        %strong Telefono
        1234567
      %p
        %strong Descripcion
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
